<!-- TODO: delete auto annotation: css-build:shady -->

<!-- @ytd-guide-section-renderer -->
<div id="side_bar" class="style-scope" mini-guide-visible>
    <h3 class="style-scope ytd-guide-section-renderer">
        <!--@yt-formatted-string -->
        <span id="guide-section-title" class="style-scope ytd-guide-section-renderer">YT Manager
        </span>
    </h3>
    <div id="items" class="style-scope ytd-guide-section-renderer">
        <!-- @ytd-guide-entry-renderer -->
        <% _(group_meta).each(function(meta,key,list) { %>
        <div class="style-scope ytd-guide-section-renderer">
            <a id="group-<%= key %>" class="yt-simple-endpoint style-scope ytd-guide-entry-renderer"
                title="<%= meta['title'] %>">
                <paper-item class="style-scope ytd-guide-entry-renderer">
                    <!-- @yt-icon and more-->
                    <yt-img-shadow height="24" width="24" class="style-scope ytd-guide-entry-renderer no-transition"
                        style="background-color: transparent;" loaded="">
                        <img id="img" class="style-scope yt-img-shadow" height="24" width="24"
                            src="<%= meta['img'] %>">
                    </yt-img-shadow>
                    <span class="title style-scope ytd-guide-entry-renderer"><%= meta["title"] %></span>
                </paper-item>
            </a>
            <% _(group[key]).each(function(item_key) { 
                let channel=channel_metas[item_key];    
            %>
            <a id="group-<%= key %>-children" class="yt-simple-endpoint style-scope ytd-guide-entry-renderer"
                title="<%= channel['title'] %>" style="display:none"
                href="<%= channel['path'] %>/videos">
                <paper-item class="style-scope ytd-guide-entry-renderer">
                    <!-- @yt-icon and more-->
                    <img id="img" class="style-scope yt-img-shadow ytd-guide-entry-renderer" height="24" width="24"
                            src="https://yt3.ggpht.com/a/<%= channel['img_id'] %>=s88-c-k-c0xffffffff-no-rj-mo">
                    <span class="title style-scope ytd-guide-entry-renderer"><%= channel['title'] %></span>
                </paper-item>
            </a>
            <% }) %>
        </div>

        <% }) %>
    </div>
</div>